.table_container {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-content: center;
    margin: 20px auto;
    min-width: 85rem;
    border: 1px solid rgb(211, 211, 211);

    th {
            font-weight: 400;
            border-bottom: 2px solid rgb(6, 69, 139);
            letter-spacing: 0.1rem;
            color:rgb(102, 102, 102) ;
            padding: 1rem;
        }

    thead {
       tr {
            text-align: left;

            
        }
    }

    tbody {
        td {
        background-color: rgb(255, 255, 255);        
        padding: 1rem 0 0.5rem 0.9rem;
        border-bottom: 1px solid rgb(187, 187, 187);
        }
    }
    
    
}