.container{
    height: 400px;
    font-size: 14px;
    overflow-y: scroll;

    h1{
        font-weight: bold;
        color: rgb(5, 55, 190);
    }
    
    .hotels{
        padding-top: 10px;
    }
    .prestations{
        padding-top: 15px;
    }
}