.table_container {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-content: center;
    margin: 100px auto;
    min-width: 95rem;
    border: 1px solid rgb(211, 211, 211);

    th {
            font-weight: 400;
            letter-spacing: 0.1rem;
            color:rgb(102, 102, 102) ;
            padding: 1rem;
        }

    thead {
       tr {
            text-align: left;

            
        }
    }
    
    button {   
            color: rgb(37, 36, 36);
            border: 2px solid rgb(172, 172, 172);
            font-family: Poppins;
            letter-spacing: 1px;
            border-radius: 5px;
            padding: 0.5rem;
            margin: 0 0 5px 0rem;

            &:hover {
                color: white;
                background-color: rgb(134, 134, 134);
            }
            }

    tbody {
        td {
        background-color: rgb(243, 243, 243);
        padding: 1rem;
        border-bottom: 1px solid rgb(129, 129, 129);
        }
    }
    
    
}