
.search {
    position: relative;
}

.submenu_container {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    content: "";
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -10;
    overflow-x: hidden;
    overflow-y: scroll;
}

.submenu_container_active {
    z-index: 10;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: auto;
}

.submenu {
    background: white;
    width: 100rem;
    padding: 8rem;
    -webkit-box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.22);
    box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.22);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 10px;
    opacity: 0;
    padding-block: 0.7rem 0;

    & > * {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: rgb(9, 35, 75);
    }
    .input {
        display: flex;
        padding-top: 2rem;
        
        h2 {
            padding-right: 1rem;
        }
        input {
            color: rgb(34, 34, 34);
            outline: none;
            border-bottom: 1px solid lightgray;
            width: 500px;
            padding-left: 5px;
            font-size: 1rem;
            @media screen and (max-width: 550px) {
                width: 82vw;
            }
        }
        svg {
            color: rgb(160, 160, 160);
            font-size: 1.1rem;
        }
    }

    .recent {
        h3 {
            margin-block: 0.8rem;
            font-size: 11px;
            font-weight: 500;
            color: rgb(145, 144, 144);
            text-transform: uppercase;
        }
    }

    .hotels{
        padding-top: 2rem;
    }

    .Prestation
    {    
        padding-top: 2rem;
        .Prestainput{
            input{
                color: rgb(34, 34, 34);
                outline: none;
                border-bottom: 1px solid lightgray;
                width: 250px;
                padding-left: 5px;
                padding-top: 15px;
                font-size: 1rem;
                @media screen and (max-width: 550px) {
                    width: 82vw;
                    }
                }
            }
        .radioType{
            padding-top: 25px;
            input{
                width: 50px;
            }
        }
    }

    .btn{
        text-align: right;
        padding-top: 3rem;

        button{
            margin: 1rem;
        }
    }
}

.submenu_active {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all ease-in-out 200ms;
}

